:root {
  --orange: hsl(26, 100%, 55%);
  --paleOrange: hsl(25, 100%, 94%);
  --veryDarkBlue: hsl(220, 13%, 13%);
  --darkGrayishBlue: hsl(219, 9%, 45%);
  --grayishBlue: hsl(220, 14%, 75%);
  --lightGrayishBlue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

body {
  font-size: 16px;
  font-family: "Kumbh Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1440px;
  width: 100%;
  padding: 0 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.15rem solid var(--lightGrayishBlue);
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.header__left {
  display: flex;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.header__left-title {
  font-size: 2rem;
  font-weight: bold;
}
.header__left-nav {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.header__left-nav-link {
  display: block;
  padding: 3rem 0;
  color: var(--darkGrayishBlue);
  position: relative;
}
.header__left-nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: width 400ms;
  width: 0%;
  height: 0.3rem;
  border-radius: 0.5rem;
  background-color: var(--orange);
  transform: translate(-50%, 0);
}
.header__left-nav-link:hover::after {
  width: 100%;
  transition: width 200ms;
}
.header__right {
  display: flex;
  align-items: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}
.header__right-action {
  position: relative;
  border-radius: 100%;
}
.header__right-action#cart .header__right-action-link {
  height: 2rem;
  width: 2rem;
}
.header__right-action#cart:hover {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.header__right-action#cart:hover .cartModal {
  display: block;
}
.header__right-action#account .header__right-action-link {
  height: 3.5rem;
  width: 3.5rem;
}
.header__right-action#account::after {
  content: "";
  height: 0%;
  width: 0%;
  background-color: var(--orange);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
.header__right-action#account:hover::after {
  height: 110%;
  width: 110%;
}
.header__right-action-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
}
.header__right-action-link-img {
  max-width: 100%;
  height: auto;
}

.main {
  flex: 1;
}

.cartModal {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  z-index: 5;
  display: none;
  border-radius: 0.6rem;
}
.cartModal__content {
  margin-top: 1.5rem;
  background-color: var(--white);
  box-shadow: 0 0 2rem var(--grayishBlue);
  border-radius: 0.6rem;
  min-height: 15rem;
  width: 22.5rem;
  display: flex;
  flex-direction: column;
}
.cartModal__content-header {
  border-bottom: 0.1rem solid var(--grayishBlue);
}
.cartModal__content-header-title {
  font-weight: bold;
  padding: 1.3rem;
}
.cartModal__content-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cartModal__content-main-emptyMessage {
  font-weight: bold;
  color: var(--darkGrayishBlue);
}
.cartModal__content-main-list {
  display: none;
}
.cartModal__content-main-checkout {
  display: none;
}
.cartModal__content-main--notEmpty {
  align-items: inherit;
  justify-content: inherit;
  padding: 1.5rem;
  row-gap: 1.5rem;
}
.cartModal__content-main--notEmpty .cartModal__content-main-emptyMessage {
  display: none;
}
.cartModal__content-main--notEmpty .cartModal__content-main-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.cartModal__content-main--notEmpty .cartModal__content-main-list-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.2rem;
}
.cartModal__content-main--notEmpty .cartModal__content-main-list-product-thumbnail {
  max-height: 100%;
  border-radius: 0.2rem;
}
.cartModal__content-main--notEmpty .cartModal__content-main-list-product-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: var(--darkGrayishBlue);
}
.cartModal__content-main--notEmpty .cartModal__content-main-list-product-description-price {
  display: flex;
}
.cartModal__content-main--notEmpty .cartModal__content-main-list-product-description-price-total {
  font-weight: bold;
  color: var(--black);
}
.cartModal__content-main--notEmpty .cartModal__content-main-checkout {
  display: block;
  color: var(--white);
  font-weight: bold;
  text-align: center;
  padding: 1.2rem 0;
  border-radius: 0.6rem;
  background-color: var(--orange);
}/*# sourceMappingURL=style.css.map */